/**
 * @file
 * Block Styling
 */
/* line 9, ../sass/blocks.scss */
.block {
  /* Block wrapper */
  margin-bottom: 1.5em;
}
/* line 13, ../sass/blocks.scss */
.block.first {
  /* The first block in the region */
}
/* line 16, ../sass/blocks.scss */
.block.last {
  /* The last block in the region */
}
/* line 19, ../sass/blocks.scss */
.block.odd {
  /* Zebra striping for each block in the region */
}
/* line 22, ../sass/blocks.scss */
.block.even {
  /* Zebra striping for each block in the region */
}
/* line 25, ../sass/blocks.scss */
.block h2.block-title {
  /* Block title */
  font-size: 0.75em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 1.282em 0;
}

/* line 34, ../sass/blocks.scss */
#block-aggregator-category-1 {
  /* Block for the latest news items in the first category */
}

/* line 37, ../sass/blocks.scss */
#block-aggregator-feed-1 {
  /* Block for the latest news items in the first feed */
}

/* line 40, ../sass/blocks.scss */
#block-block-1 {
  /* First block created with "Add block" link */
}

/* line 43, ../sass/blocks.scss */
#block-blog-recent {
  /* "Recent blog posts" block */
}

/* line 46, ../sass/blocks.scss */
#block-book-navigation {
  /* "Book navigation" block for the current book's table of contents */
}

/* line 49, ../sass/blocks.scss */
#block-comment-recent {
  /* "Recent comments" block */
}

/* line 52, ../sass/blocks.scss */
#block-forum-active {
  /* "Active forum topics" block */
}

/* line 55, ../sass/blocks.scss */
#block-forum-new {
  /* "New forum topics" block */
}

/* line 60, ../sass/blocks.scss */
#block-fortyfour-microsite-secondary-menu,
#block-fortyfour-microsite-president {
  margin-bottom: 0;
}

/* line 64, ../sass/blocks.scss */
#block-locale-language {
  /* Language switcher block */
}

/* line 67, ../sass/blocks.scss */
#block-menu-menu-NAME {
  /* Custom menu block */
}

/* line 70, ../sass/blocks.scss */
#block-node-recent {
  /* "Recent content" block */
}

/* line 73, ../sass/blocks.scss */
#block-node-syndicate {
  /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

/* line 76, ../sass/blocks.scss */
#block-poll-recent {
  /* "Most recent poll" block */
}

/* line 79, ../sass/blocks.scss */
#block-profile-author-information {
  /* "Author information" block for the profile of the page's author */
}

/* line 82, ../sass/blocks.scss */
#block-search-form {
  /* "Search form" block */
}

/* line 85, ../sass/blocks.scss */
#block-shortcut-shortcuts {
  /* "Shortcuts" block */
}

/* line 88, ../sass/blocks.scss */
#block-statistics-popular {
  /* "Popular content" block */
}

/* line 91, ../sass/blocks.scss */
#block-system-main-menu {
  /* "Main menu" block */
}

/* line 94, ../sass/blocks.scss */
#block-system-management {
  /* "Management" block for Drupal management menu */
}

/* line 97, ../sass/blocks.scss */
#block-system-navigation {
  /* "Navigation" block for Drupal navigation menu */
}

/* line 100, ../sass/blocks.scss */
#block-system-user-menu {
  /* "User menu" block for Drupal user menu */
}

/* line 103, ../sass/blocks.scss */
#block-system-help {
  /* "System help" block */
}

/* line 106, ../sass/blocks.scss */
#block-system-main {
  /* "Main page content" block */
}

/* line 109, ../sass/blocks.scss */
#block-system-powered-by {
  /* "Powered by Drupal" block */
}

/* line 112, ../sass/blocks.scss */
#block-user-login {
  /* "User login form" block */
}

/* line 115, ../sass/blocks.scss */
#block-user-new {
  /* "Who's new" block for a list of the newest users */
}

/* line 118, ../sass/blocks.scss */
#block-user-online {
  /* "Who's online" block for a list of the online users */
}
