/* line 27, ../sass/zenger.scss */
a, a:visited {
  color: #cd302c;
}

/* line 28, ../sass/zenger.scss */
a:hover {
  color: #516da1;
}

/* line 30, ../sass/zenger.scss */
body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
}

/* line 34, ../sass/zenger.scss */
html body.admin-menu {
  padding-top: 29px !important;
}

/* line 37, ../sass/zenger.scss */
.header-wrap {
  background: #fff;
  border: none;
  margin: 15px 0 0 0;
}

/* line 42, ../sass/zenger.scss */
#header {
  background: none;
  padding: 0;
}

/* line 46, ../sass/zenger.scss */
#page {
  padding: 0;
  margin-bottom: 2em;
}

/* line 50, ../sass/zenger.scss */
#logo {
  margin: 0 0 10px 0;
}

/* line 53, ../sass/zenger.scss */
#seal {
  max-height: 133px;
  clear: both;
}

/* line 57, ../sass/zenger.scss */
iframe {
  width: 100% !important;
}

/* line 60, ../sass/zenger.scss */
#navigation {
  margin: 0 auto;
  width: 100%;
  max-width: 976px;
  background-color: #516da1;
  min-height: 40px;
  padding: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
}

/* line 70, ../sass/zenger.scss */
#main-menu {
  float: left;
  background-color: #516da1;
}

/* line 74, ../sass/zenger.scss */
#main-menu ul li {
  padding: 0;
}

/* line 77, ../sass/zenger.scss */
#main-menu ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 40px;
  display: block;
  padding: 0 12px;
  border-right: 1px solid #6f88b6;
}

/* line 86, ../sass/zenger.scss */
#main-menu ul li a:hover {
  -webkit-box-shadow: #1f335b 0 0 10px inset;
  -moz-box-shadow: #1f335b 0 0 10px inset;
  box-shadow: #1f335b 0 0 10px inset;
}

/* line 89, ../sass/zenger.scss */
#secondary-menu {
  background-color: #516da1;
}
/* line 91, ../sass/zenger.scss */
#secondary-menu ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: .8em;
  padding: 0.6em 10px;
}

/* line 99, ../sass/zenger.scss */
#secondary-menu ul li a:hover {
  color: #d4dcea;
}

/* line 102, ../sass/zenger.scss */
#secondary-menu ul li {
  min-width: 10px;
}

/* line 106, ../sass/zenger.scss */
.maintenacne-page #content {
  padding: 1.5em;
}

/* line 109, ../sass/zenger.scss */
.maintenance-page h1#page-title {
  margin: 0;
}

/* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.front #content .container:before, .front #content .container:after {
  content: "";
  display: table;
}
/* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.front #content .container:after {
  clear: both;
}

/* line 117, ../sass/zenger.scss */
.front #content .container {
  text-align: center;
}

/* line 120, ../sass/zenger.scss */
.front .steps p {
  padding: 0 15px;
  font-family: "Open Sans", sans-serif;
}

/* line 124, ../sass/zenger.scss */
.one {
  float: left;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: -33.33333%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 128, ../sass/zenger.scss */
.two {
  float: left;
  width: 33.33333%;
  margin-left: 33.33333%;
  margin-right: -66.66667%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 132, ../sass/zenger.scss */
.three {
  float: left;
  width: 33.33333%;
  margin-left: 66.66667%;
  margin-right: -100%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 136, ../sass/zenger.scss */
.one h3.step {
  background: transparent url(../images/step-one.png) center top no-repeat;
  height: 145px;
  overflow: hidden;
  text-indent: -9000px;
  display: block;
}

/* line 141, ../sass/zenger.scss */
.two h3.step {
  background: transparent url(../images/step-two.png) center top no-repeat;
  height: 145px;
  overflow: hidden;
  text-indent: -9000px;
  display: block;
}

/* line 146, ../sass/zenger.scss */
.three h3.step {
  background: transparent url(../images/step-three.png) center top no-repeat;
  height: 145px;
  overflow: hidden;
  text-indent: -9000px;
  display: block;
}

/* line 151, ../sass/zenger.scss */
.petition-intro {
  margin: 1.5em 15%;
}
/* line 153, ../sass/zenger.scss */
.petition-intro h2 {
  font-size: 2em;
  font-weight: lighter;
  line-height: 1.28205em;
  margin: 0;
}

/* line 160, ../sass/zenger.scss */
.petition-intro .btn-link {
  font-size: 1.15em;
  float: right;
  margin: 0 0 10px 15px;
  width: auto;
}

/* line 164, ../sass/zenger.scss */
input.input-button-steps {
  float: right;
  margin: 2em 0;
}

/* line 172, ../sass/zenger.scss */
button, input.button,
input.input-button-steps,
input.form-submit,
a.btn-link,
a.button {
  background: #cd302c;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d96e72), color-stop(100%, #cd302c));
  background-image: -webkit-linear-gradient(#d96e72, #cd302c);
  background-image: -moz-linear-gradient(#d96e72, #cd302c);
  background-image: -o-linear-gradient(#d96e72, #cd302c);
  background-image: linear-gradient(#d96e72, #cd302c);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #b23039;
  color: white !important;
  padding: 8px 35px;
  text-shadow: 1px 1px 2px #b23039;
  text-decoration: none;
  display: inline-block;
}

/* line 187, ../sass/zenger.scss */
button:hover, input.button:hover,
input.input-button-steps:hover,
input.form-submit:hover,
.btn-link:hover,
.button:hover {
  background: #b23039;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cd302c), color-stop(100%, #b23039));
  background-image: -webkit-linear-gradient(#cd302c, #b23039);
  background-image: -moz-linear-gradient(#cd302c, #b23039);
  background-image: -o-linear-gradient(#cd302c, #b23039);
  background-image: linear-gradient(#cd302c, #b23039);
  text-decoration: none;
  height: auto;
  width: auto;
  background-position: inherit;
}

/* line 195, ../sass/zenger.scss */
form#user-login input#edit-submit {
  text-transform: uppercase;
  height: auto;
  width: auto;
  margin: 5px;
  background-image: none;
  background-color: #cd302c;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d96e72), color-stop(100%, #cd302c));
  background-image: -webkit-linear-gradient(#d96e72, #cd302c);
  background-image: -moz-linear-gradient(#d96e72, #cd302c);
  background-image: -o-linear-gradient(#d96e72, #cd302c);
  background-image: linear-gradient(#d96e72, #cd302c);
}

/* line 205, ../sass/zenger.scss */
form#user-login input#edit-submit:focus,
form#user-login input#edit-submit:hover {
  background-color: #b23039;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cd302c), color-stop(100%, #b23039));
  background-image: -webkit-linear-gradient(#cd302c, #b23039);
  background-image: -moz-linear-gradient(#cd302c, #b23039);
  background-image: -o-linear-gradient(#cd302c, #b23039);
  background-image: linear-gradient(#cd302c, #b23039);
  height: auto;
  width: auto;
}

/* line 212, ../sass/zenger.scss */
form#user-login .password {
  margin: 0 15px 10px 0;
  float: right;
}
/* line 216, ../sass/zenger.scss */
form#user-login #edit-actions {
  text-align: center;
}
/* line 219, ../sass/zenger.scss */
form#user-login .form-item {
  clear: right;
}
/* line 222, ../sass/zenger.scss */
form#user-login h1 {
  margin-bottom: 5px;
}

/* line 226, ../sass/zenger.scss */
form#user-login label, form#user-pass label {
  width: 120px;
}

/* line 229, ../sass/zenger.scss */
form#user-login .form-item .description {
  padding: 3px 0 0 130px;
}

/* line 233, ../sass/zenger.scss */
#petition-inner label,
.block h2.block-title {
  font-size: 1.2em;
  color: #cd302c;
  text-transform: none;
}

/* line 238, ../sass/zenger.scss */
#footer {
  padding: 0;
}
/* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#footer:before, #footer:after {
  content: "";
  display: table;
}
/* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#footer:after {
  clear: both;
}

/* line 244, ../sass/zenger.scss */
#footer .block.first {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 247, ../sass/zenger.scss */
#footer .block.last {
  float: left;
  width: 50%;
  margin-left: 50%;
  margin-right: -100%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 250, ../sass/zenger.scss */
#block-search-form {
  float: right;
  margin: 0 0 10px;
}
/* line 253, ../sass/zenger.scss */
#block-search-form .form-item input {
  border: 1px solid #cccccc;
  color: #666;
}

/* Petition Pages */
/* line 261, ../sass/zenger.scss */
#steps-wrapper {
  background: url("../images/step-timeline.png") no-repeat scroll 50% 40% white;
}
/* line 263, ../sass/zenger.scss */
#steps-wrapper .step {
  margin: 2em 0;
  padding: 75px 1em 0;
  text-align: center;
  width: 25%;
  float: left;
  color: #C1C1C1;
  text-indent: -9999px;
  overflow: hidden;
}
/* line 273, ../sass/zenger.scss */
#steps-wrapper .step a {
  color: #C1C1C1;
  font-size: .85em;
}
/* line 278, ../sass/zenger.scss */
#steps-wrapper .step-expand,
#steps-wrapper .step-expand a {
  color: #516da1;
}
/* line 282, ../sass/zenger.scss */
#steps-wrapper .step-1-expand,
#steps-wrapper .step-1-collapse {
  background: url("../images/create-steps.png") no-repeat scroll 50% 0 transparent;
}
/* line 286, ../sass/zenger.scss */
#steps-wrapper .step-2-expand,
#steps-wrapper .step-2-collapse.step-complete {
  background: url("../images/create-steps.png") no-repeat scroll 50% -100px transparent;
}
/* line 289, ../sass/zenger.scss */
#steps-wrapper .step-2-collapse {
  background: url("../images/create-steps.png") no-repeat scroll 50% -400px transparent;
}
/* line 293, ../sass/zenger.scss */
#steps-wrapper .step-3-expand,
#steps-wrapper .step-3-collapse.step-complete {
  background: url("../images/create-steps.png") no-repeat scroll 50% -200px transparent;
}
/* line 296, ../sass/zenger.scss */
#steps-wrapper .step-3-collapse {
  background: url("../images/create-steps.png") no-repeat scroll 50% -500px transparent;
}
/* line 300, ../sass/zenger.scss */
#steps-wrapper .step-4-expand,
#steps-wrapper .step-4-collapse.step-complete {
  background: url("../images/create-steps.png") no-repeat scroll 50% -300px transparent;
}
/* line 303, ../sass/zenger.scss */
#steps-wrapper .step-4-collapse {
  background: url("../images/create-steps.png") no-repeat scroll 50% -600px transparent;
}

/* line 310, ../sass/zenger.scss */
img.form-arrow,
.tip-arrow-up,
.tip-arrow {
  display: none;
}

/* line 312, ../sass/zenger.scss */
textarea {
  border: 1px solid #cccccc;
  -webkit-box-shadow: #c1c1c1 0 4px 7px;
  -moz-box-shadow: #c1c1c1 0 4px 7px;
  box-shadow: #c1c1c1 0 4px 7px;
  overflow: auto;
  padding: 6px;
  vertical-align: top;
}

/* line 320, ../sass/zenger.scss */
#create-petition-form-step-1 {
  position: relative;
}
/* line 323, ../sass/zenger.scss */
#create-petition-form-step-1 .form-type-textarea label,
#create-petition-form-step-1 .we-petition-msg {
  display: inline-block;
  float: left;
  clear: left;
  width: 30%;
}
/* line 329, ../sass/zenger.scss */
#create-petition-form-step-1 .form-field-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 65%;
}
/* line 334, ../sass/zenger.scss */
#create-petition-form-step-1 .form-field-wrapper textarea {
  width: 100%;
}
/* line 338, ../sass/zenger.scss */
#create-petition-form-step-1 .form-type-checkboxes {
  clear: both;
  margin: 6em 0 0;
}
/* line 342, ../sass/zenger.scss */
#create-petition-form-step-1 #edit-petition-issues label {
  font-size: 1em;
  color: #000;
}
/* line 346, ../sass/zenger.scss */
#create-petition-form-step-1 .help-text div {
  float: right;
  margin: 0.75em 0 0 2em;
  font-size: .85em;
}

/* line 356, ../sass/zenger.scss */
#create-petition-form-step-3 .help-text,
#create-petition-form-step-3 .view-tooltip,
#create-petition-form-step-3 .view-tooltip-tag a {
  margin: 0.75em 0 0 1em;
  float: left;
}
/* line 360, ../sass/zenger.scss */
#create-petition-form-step-3 .form-item-petition-tags {
  clear: both;
  margin: 3em 0;
}
/* line 364, ../sass/zenger.scss */
#create-petition-form-step-3 input#edit-petition-tags {
  width: 100% !important;
}

/* line 368, ../sass/zenger.scss */
#create-petition-form-step-4 {
  position: relative;
  padding-right: 28%;
}
/* line 372, ../sass/zenger.scss */
#create-petition-form-step-4 .petition-detail .top-msg-bar {
  font-size: 1.2em;
  color: #cd302c;
}
/* line 376, ../sass/zenger.scss */
#create-petition-form-step-4 .petition-detail h1.title {
  color: #516da1;
  padding: 0;
}
/* line 380, ../sass/zenger.scss */
#create-petition-form-step-4 .petition-detail p {
  border: 1px solid #cccccc;
  -webkit-box-shadow: #999999 0 4px 7px;
  -moz-box-shadow: #999999 0 4px 7px;
  box-shadow: #999999 0 4px 7px;
  padding: 6px;
  margin: 1em 0;
  clear: both;
}
/* line 387, ../sass/zenger.scss */
#create-petition-form-step-4 .petition-detail .issues {
  margin: 1em 0;
  color: #fff;
}
/* line 390, ../sass/zenger.scss */
#create-petition-form-step-4 .petition-detail .issues strong {
  display: none;
}
/* line 393, ../sass/zenger.scss */
#create-petition-form-step-4 .petition-detail .issues a {
  text-decoration: none;
  color: #fff;
  margin: 0.5em 0.5em 1em 0;
  padding: 7px 10px 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #516da1), color-stop(100%, #1f335b));
  background-image: -webkit-linear-gradient(top, #516da1, #1f335b);
  background-image: -moz-linear-gradient(top, #516da1, #1f335b);
  background-image: -o-linear-gradient(top, #516da1, #1f335b);
  background-image: linear-gradient(top, #516da1, #1f335b);
}
/* line 400, ../sass/zenger.scss */
#create-petition-form-step-4 .petition-detail .issues a:hover {
  background: #4E73A3;
}
/* line 404, ../sass/zenger.scss */
#create-petition-form-step-4 .petition-detail .sig-num {
  width: 25%;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 409, ../sass/zenger.scss */
#create-petition-form-step-4 .petition-detail .sig-num .num-block {
  color: #ccc;
  font-size: 4em;
  font-weight: bold;
}
/* line 417, ../sass/zenger.scss */
#create-petition-form-step-4 .petition-detail-publish-options #no-publish-other-options {
  position: absolute;
  top: 250px;
  right: 0;
  width: 25%;
}
/* line 422, ../sass/zenger.scss */
#create-petition-form-step-4 .petition-detail-publish-options #no-publish-other-options p {
  margin: 1em 0 0;
  text-align: center;
  display: none;
}
/* line 429, ../sass/zenger.scss */
#create-petition-form-step-4 .petition-detail-publish-options a.button,
#create-petition-form-step-4 .petition-detail-publish-options input#button-back-to-previous-step {
  width: 100%;
  display: block;
  margin: 5px auto;
  text-align: center;
}
/* line 435, ../sass/zenger.scss */
#create-petition-form-step-4 .petition-detail-publish-options fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
/* line 440, ../sass/zenger.scss */
#create-petition-form-step-4 .petition-detail-publish-options .delete-insert {
  text-align: center;
}
/* line 444, ../sass/zenger.scss */
#create-petition-form-step-4 a.button-no-thanks-keep {
  margin-left: 2em;
}

/* line 451, ../sass/zenger.scss */
#filter-list ul .select-view {
  float: left;
  width: 290px;
  margin: 0;
  padding: 0;
}
/* line 457, ../sass/zenger.scss */
#filter-list ul .filter-list {
  float: left;
  width: 290px;
  margin: 0 !important;
  padding: 0;
}
/* line 464, ../sass/zenger.scss */
#filter-list .header {
  display: hidden;
}

/* line 470, ../sass/zenger.scss */
.petition-filter ul li,
.response-filter ul li {
  float: left;
  list-style-type: none;
  text-shadow: 0 1px 0 gainsboro;
}

/* line 475, ../sass/zenger.scss */
.petition-filter ul.select-view li.active a, .response-filter ul.select-view li.active a, .response-filter ul.select-view li.active div {
  background: -moz-linear-gradient(center top, #e5e5e5, #f2f2f2) repeat scroll 0 0 transparent;
  border: 1px solid #a8a8a8;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 1px 1px 1px 1px #b9b9b9 inset;
}

/* line 481, ../sass/zenger.scss */
.petition-filter ul.select-view li a, .response-filter ul.select-view li a, .response-filter ul.select-view li div {
  color: #535353;
  display: block;
  margin-right: 7px;
  padding: 4px 8px 3px;
  text-align: center;
}

/* line 488, ../sass/zenger.scss */
ul.filter-list li.filter-by-issue {
  background: url("/profiles/petitions/themes/petitions44/img/sprite-circle-icons.png") no-repeat scroll 83px 0 transparent;
  margin-right: 7px;
}

/* line 492, ../sass/zenger.scss */
ul.filter-list li.filter-by-issue, ul.filter-list li.search {
  cursor: pointer;
  display: block;
  margin: 0 10px;
  padding: 2px 25px 2px 0;
}

/* line 498, ../sass/zenger.scss */
#issues-filter-drop {
  left: 225px;
  padding: 0;
  position: absolute;
  top: 25px;
  width: 654px;
  z-index: 5;
}

/* line 506, ../sass/zenger.scss */
#search-drop {
  background: url("/profiles/petitions/themes/petitions44/img/bg-search-drop.png") no-repeat scroll 0 0 transparent;
  height: 129px;
  left: 355px;
  padding: 21px 0 0 11px;
  position: absolute;
  top: 25px;
  width: 588px;
  z-index: 5;
}
