@import "base";
@import "compass/css3";
@import "compass/utilities";

$blue-med:  #516DA1;
$blue-dark: #1F335B;
$red-dark:  #B23039;
$red-med:   #CD302C;
$red-light: #D96E72;

@mixin hide-text{
    overflow:hidden;
    text-indent:-9000px;
    display:block;
}
@mixin rt($width) {
    float:right;
    margin:0 0 10px 15px;
    width: $width;
}
@mixin lt($width) {
    float:left;
    margin:0 15px 10px 0;
    width: $width;
}

a, a:visited { color:$red-med; }
a:hover { color:$blue-med; }

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}
html body.admin-menu {
    padding-top:29px !important;
}
.header-wrap {
    background: #fff;
    border: none;
    margin:15px 0 0 0;
}
#header {
    background: none;
    padding: 0;
}
#page {
    padding: 0;
    margin-bottom: 2em;
}
#logo {
    margin:0 0 10px 0;
}
#seal {
    max-height: 133px;
    clear:both;
}
iframe {
    width:100% !important;
}
#navigation {
    margin: 0 auto;
    width: 100%;
    max-width: 976px;
    background-color: $blue-med;
    min-height: 40px;
    padding: 0;
    @include border-radius(4px);
    @include border-top-left-radius(0);
}
#main-menu {
    float: left;
    background-color: $blue-med;
}
#main-menu ul li {
    padding: 0;
}
#main-menu ul li a {
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 40px;
    display: block;
    padding:0 12px;
    border-right:1px solid lighten( $blue-med, 10% );
}
#main-menu ul li a:hover {
    @include box-shadow($blue-dark 0 0 10px inset);
}
#secondary-menu {
    background-color: $blue-med;
    ul li a {
        color:#fff;
        text-decoration: none;
        display: block;
        font-size: .8em;
        padding: .6em 10px;
    }
}
#secondary-menu ul li a:hover {
    color:lighten( $blue-med, 40% );
}
#secondary-menu ul li {
    min-width: 10px;
}

.maintenacne-page #content {
    padding: 1.5em;
}
.maintenance-page h1#page-title {
    margin:0;
}
.front #content .container {
  $zen-column-count: 3;
  $zen-gutter-width: 10px;
  @include zen-grid-container;
}
.front #content .container {
    text-align: center;
}
.front .steps p {
    padding: 0 15px;
    font-family: 'Open Sans', sans-serif;
}
.one {
  @include zen-grid-item(1, 1);
}
 
.two {
  @include zen-grid-item(1, 2);
}
 
.three {
  @include zen-grid-item(1, 3);
}

.one h3.step {
    background: transparent url(../images/step-one.png) center top no-repeat;
    height: 145px;
    @include hide-text;
}
.two h3.step {
    background: transparent url(../images/step-two.png) center top no-repeat;
    height: 145px;
    @include hide-text;
}
.three h3.step {
    background: transparent url(../images/step-three.png) center top no-repeat;
    height: 145px;
    @include hide-text;
}
.petition-intro {
    margin:1.5em 15%;
    h2 {
        font-size: 2em;
        font-weight: lighter;
        line-height: 1.28205em;
        margin: 0;
    }
}
.petition-intro .btn-link {
    font-size: 1.15em;
    @include rt(auto);
}
input.input-button-steps {
    float:right;
    margin: 2em 0;
}
button, input.button,
input.input-button-steps,
input.form-submit,
a.btn-link,
a.button {
    background: $red-med;
    @include background-image(linear-gradient($red-light, $red-med));
    @include border-radius(4px);
    border:1px solid $red-dark;
    color:#fff !important;
    padding: 8px 35px;
    text-shadow: 1px 1px 2px $red-dark;
    text-decoration: none;
    display: inline-block;
}
button:hover, input.button:hover,
input.input-button-steps:hover,
input.form-submit:hover,
.btn-link:hover,
.button:hover {
    background: $red-dark;
    @include background-image(linear-gradient($red-med, $red-dark));
    text-decoration: none;
    height:auto;
    width:auto;
    background-position: inherit;
}
form#user-login input#edit-submit {
    text-transform:uppercase;
    height:auto;
    width:auto;
    margin:5px;
    background-image:none;
    background-color: $red-med;
    @include background-image(linear-gradient($red-light, $red-med));
}
form#user-login input#edit-submit:focus,
form#user-login input#edit-submit:hover {
    background-color: $red-dark;
    @include background-image(linear-gradient($red-med, $red-dark));
    height:auto;
    width:auto;
}
form#user-login {
    .password {
        margin: 0 15px 10px 0;
        float:right;
    }
    #edit-actions {
        text-align: center;
    }
    .form-item {
        clear:right;
    }
    h1 {
        margin-bottom:5px;
    }
}
form#user-login label, form#user-pass label {
    width:120px;
}
form#user-login .form-item .description {
    padding: 3px 0 0 130px;
}
#petition-inner label,
.block h2.block-title {
    font-size: 1.2em;
    color:$red-med;
    text-transform: none;
}
#footer {
    $zen-column-count: 2;
    $zen-gutter-width: 10px;
    @include zen-grid-container;
    padding:0;
}
#footer .block.first {
  @include zen-grid-item(1, 1);
}
#footer .block.last {
  @include zen-grid-item(1, 2);
}
#block-search-form {
    float:right;
    margin:0 0 10px;
    .form-item input {
        border:1px solid #ccc;
        color:#666;
    }
}

/* Petition Pages */

#steps-wrapper {
    background:url("../images/step-timeline.png") no-repeat scroll 50% 40% #FFFFFF;
    .step {
        margin: 2em 0;
        padding: 75px 1em 0;
        text-align: center;
        width: 25%;
        float: left;
        color:#C1C1C1;
        text-indent:-9999px;
        overflow: hidden;
    }
    .step a {
        color:#C1C1C1;
        font-size: .85em;
    }
    .step-expand,
    .step-expand a {
        color:$blue-med;
    }
    .step-1-expand,
    .step-1-collapse {
        background: url("../images/create-steps.png") no-repeat scroll 50% 0 transparent;
    }
    .step-2-expand,
    .step-2-collapse.step-complete {
        background: url("../images/create-steps.png") no-repeat scroll 50% -100px transparent;
    }
    .step-2-collapse {
        background: url("../images/create-steps.png") no-repeat scroll 50% -400px transparent;
    }
    .step-3-expand,
    .step-3-collapse.step-complete {
        background: url("../images/create-steps.png") no-repeat scroll 50% -200px transparent;
    }
    .step-3-collapse {
        background: url("../images/create-steps.png") no-repeat scroll 50% -500px transparent;
    }
    .step-4-expand,
    .step-4-collapse.step-complete {
        background: url("../images/create-steps.png") no-repeat scroll 50% -300px transparent;
    }
    .step-4-collapse {
        background: url("../images/create-steps.png") no-repeat scroll 50% -600px transparent;
    }
}

img.form-arrow,
.tip-arrow-up,
.tip-arrow { display: none;}

textarea {
    border: 1px solid #CCCCCC;
    @include box-shadow(#c1c1c1 0 4px 7px);
    overflow: auto;
    padding: 6px;
    vertical-align: top;
}
        
#create-petition-form-step-1 {
    position: relative;
    .form-type-textarea label,
    .we-petition-msg {
        display: inline-block;
        float:left;
        clear:left;
        width:30%;
    }
    .form-field-wrapper {
        position: absolute;
        right:0;
        top:0;
        width:65%;
        textarea {
            width: 100%;
        }
    }
    .form-type-checkboxes {
        clear:both;
        margin:6em 0 0;
    }
    #edit-petition-issues label {
        font-size:1em;
        color:#000;
    }
    .help-text div {
        float:right;
        margin:.75em 0 0 2em;
        font-size: .85em;
    }
}

#create-petition-form-step-3 {
    .help-text,
    .view-tooltip,
    .view-tooltip-tag a {
        margin:.75em 0 0 1em;
        float: left;
    }
    .form-item-petition-tags {
        clear: both;
        margin:3em 0;
    }
    input#edit-petition-tags {
        width:100% !important;
    }
}
#create-petition-form-step-4 {
    position: relative;
    padding-right:28%;
    .petition-detail {
        .top-msg-bar {
            font-size: 1.2em;
            color:$red-med;
        }
        h1.title {
            color:$blue-med;
            padding:0;
        }
        p {
            border: 1px solid #CCCCCC;
            @include box-shadow(#999 0 4px 7px);
            padding: 6px;
            margin: 1em 0;
            clear:both;
        }
        .issues {
            margin: 1em 0;
            color:#fff;
            strong {
                display: none;
            }
            a {
                text-decoration: none;
                color:#fff;
                margin: 0.5em 0.5em 1em 0;
                padding: 7px 10px 5px;
                @include background-image(linear-gradient(top, $blue-med, $blue-dark));
            }
            a:hover {
                background: #4E73A3;
            }
        }
        .sig-num {
            width:25%;
            position: absolute;
            top:0;
            right:0;
            .num-block {
                color:#ccc;
                font-size: 4em;
                font-weight: bold;
            }
        }
    }
    .petition-detail-publish-options {
        #no-publish-other-options {
            position: absolute;
            top:250px;
            right:0;
            width:25%;
            p {
                margin:1em 0 0;
                text-align: center;
                display:none;
            } 
        }
        a.button,
        input#button-back-to-previous-step {
            width:100%;
            display: block;
            margin:5px auto;
            text-align: center;
        }
        fieldset {
            border:none;
            padding:0;
            margin:0;
        }
        .delete-insert {
            text-align: center;
        }
    }
    a.button-no-thanks-keep {
        margin-left:2em;
    }
}

#filter-list {
    ul {
        .select-view {
            float:left;
            width:290px;
            margin:0;
            padding: 0;
        }
        .filter-list {
            float:left;
            width:290px;
            margin:0 !important;
            padding: 0;  
        }
    }
    .header {
        display: hidden;
    }
}

.petition-filter ul li,
.response-filter ul li {
    float: left;
    list-style-type: none;
    text-shadow: 0 1px 0 #DCDCDC;
}
.petition-filter ul.select-view li.active a, .response-filter ul.select-view li.active a, .response-filter ul.select-view li.active div {
    background: -moz-linear-gradient(center top , #E5E5E5, #F2F2F2) repeat scroll 0 0 transparent;
    border: 1px solid #A8A8A8;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px 1px #B9B9B9 inset;
}
.petition-filter ul.select-view li a, .response-filter ul.select-view li a, .response-filter ul.select-view li div {
    color: #535353;
    display: block;
    margin-right: 7px;
    padding: 4px 8px 3px;
    text-align: center;
}
ul.filter-list li.filter-by-issue {
    background: url("/profiles/petitions/themes/petitions44/img/sprite-circle-icons.png") no-repeat scroll 83px 0 transparent;
    margin-right: 7px;
}
ul.filter-list li.filter-by-issue, ul.filter-list li.search {
    cursor: pointer;
    display: block;
    margin: 0 10px;
    padding: 2px 25px 2px 0;
}
#issues-filter-drop {
    left: 225px;
    padding: 0;
    position: absolute;
    top: 25px;
    width: 654px;
    z-index: 5;
}
#search-drop {
    background: url("/profiles/petitions/themes/petitions44/img/bg-search-drop.png") no-repeat scroll 0 0 transparent;
    height: 129px;
    left: 355px;
    padding: 21px 0 0 11px;
    position: absolute;
    top: 25px;
    width: 588px;
    z-index: 5;
}
